.container {
  width: 100%;
  max-width: 800px;
  height: 100%;

  margin: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 32px;
}

.header-container button {
  padding: 10px;

  display: flex;
  border-radius: 6px;

  background-color: #efefef;
}

.header-content {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.subtitle-container {
  font-size: 18px;
  color: #8c8c8c;
}

.dialog-container {
  width: 100%;
  max-width: 400px;

  margin: auto;

  border-radius: 10px;
  padding: 32px 24px;

  background-color: #f5f5f5;
}

.dialog-content {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.options-footer {
  display: flex;
  justify-content: end;
  gap: 10px;

  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid #dadada;
}

.options-footer button {
  width: 100%;
  padding: 10px 20px;

  border-radius: 6px;
  border: none;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.options-footer button:last-child {
  background-color: #8c8c8c;
  color: #f2f2f2;
}

label {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

label input, select {
  padding: 10px;

  border-radius: 6px;
  border: 2px solid #8c8c8c;
}
